.masthead {
    background: #F5F5FA;
    opacity: 100%;
    /*url(/public/iamge/background.jpg);*/
    top: 0;
    width: 100%;
}

/*.container {
    background: rgba(255, 255, 255, 0.5);
}*/

#id_footer {
    height: 1.5rem; /*设定footer高度*/
    position: fixed; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    background-color: #CACACA;
    margin-top: -1.5rem;
}

body {
    background-image: url(/public/image/background.jpg);
    position: relative;
    z-index: -9999;
    background-attachment: fixed;
    background-size: 100%;
}
