/*.masthead {
    background-color: blue;
}*/


#id_footer {
    height: 1.5rem; /*设定footer高度*/
    position: fixed; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    background-color: #ffffff;
    margin-top:-1.5rem;
}

/*body {
    background-image: url(/public/image/background.png);
    background-attachment: fixed;
    background-size: cover;
}*/
