.masthead {
    background: #F5F5FA;
    opacity: 100%;
    /*url(/public/iamge/background.jpg);*/
    top: 0;
    width: 100%;
}

/*.container {
    background: rgba(255, 255, 255, 0.5);
}*/

#id_footer {
    height: 1.5rem; /*设定footer高度*/
    position: fixed; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    background-color: transparent;
    margin-top: -1.5rem;
}

pre code{
    font-size: 100% !important;
    line-height: 50% !important;
}

body {
    background-image: url(/public/image/poster-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment: fixed;
    z-index: -1000;
}
body:before{
    content: "";
    position: fixed;
    z-index: -1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    -webkit-background-size: cover !important;
    -o-background-size: cover;
    background-size: cover !important;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}

.postbox {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    line-height: 75px;
    position: relative;
    background-color: white;
    box-shadow: darkgrey 5px 5px 15px 2px;
    overflow: hidden;
}
/*@media (min-width: 38em) {
    .postbox {
        width: auto;
    }
}*/
.postbox-name, .postbox-date {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 25%;
    font-size: 1.2rem;
}
.postbox-date {
    color: black;
    text-align: right;
}
a.postbox-name:hover,
.postbox:hover a.postbox-name {
    transform: translateX(-10%);
}

a.postbox-date:hover,
.postbox:hover a.postbox-date {
    transform: translateX(-30%);
}

a.postbox-name:hover,
a.postbox-date:hover,
.postbox:hover a.postbox-name,
.postbox:hover a.postbox-date {
    color: purple;
    text-decoration: none;
    transition: 0.4s;
    background-color: rgba(0,0,0,.1);
}

.postdetail {
    width: 50%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    position: absolute;
    float: right;
    top: 0;
    right: -40%;
    background-color: palevioletred;
    overflow-x: hidden;
}
.postdetail:hover,
.postbox:hover .postdetail{
    transform: translateX(-80%);
    transition: 0.4s;
}