.masthead {
    background: #F5F5FA;
    opacity: 100%;
    /*url(/public/iamge/background.jpg);*/
    top: 0;
    width: 100%;
}

/*.container {
    background: rgba(255, 255, 255, 0.5);
}*/

#id_footer {
    height: 1.5rem; /*设定footer高度*/
    position: fixed; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    background-color: transparent;
    margin-top: -1.5rem;
}

pre code{
    font-size: 100% !important;
    line-height: 50% !important;
}

body {
    background-image: url(/public/image/poster-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment: fixed;
    z-index: -1000;
}
body:before{
    content: "";
    position: fixed;
    z-index: -1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    -webkit-background-size: cover !important;
    -o-background-size: cover;
    background-size: cover !important;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}